h1{
    text-align: center;
    color: #1231bd
    ;
}


.space{
    margin: 50px;
}

h1{
    text-align: center;
    color: #1216ee;
}

h2{
    text-align: center;
    color: #a81212;
}
